  
.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input {
    margin-left: 20px;
}
.email {
    padding-right: 27px;
}
.container {
    border-radius: 5px;
    background-color: #1ebea5;
    padding: 20px;
    width: 300px;
    margin: 8rem auto;
    border: 1px solid #080808;
}
.title {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -.5px;
    color: #fffcfcfa;
}
.label {
    display: flex;
}
.label:after {
    content:" *";
    color: white;
}