.addMessageContainer {
    grid-area: addMessageContainer;
}
.messagesList {
    grid-area: messagesList;
}
.container {
    display: grid;
    grid-template: 
    " messagesList" 
    "addMessageContainer";
}