.addMessageContainer {
    grid-area: addMessageContainer;
    width: 300px;
    display: flex;
    justify-content: center;
}
.messagesList {
    grid-area: messagesList;
}
.container {
    display: grid;
    grid-template: 
    " messagesList" 
    "addMessageContainer";
}