.buttonStyle {
    width: 10rem;
      font-size: 1rem;
      height: 3rem;
      color: #ff6e14;
      background-color: #fffcfcfa;
      border-radius: 7%;
      cursor: pointer;
  }
  .disabled {
    width: 10rem;
    font-size: 1rem;
    height: 3rem;
    color: #ff6e14;
    background-color: #8e9196;
    border-radius: 7%;
  }